
/* body {
  font-family: "Gotham", sans-serif;
} */

li::marker {
  color: blue;
}

[data-twe-dropdown-menu-ref] {
  display: none;
}

[data-twe-dropdown-menu-ref].hidden {
  display: none;
}

[data-twe-dropdown-menu-ref]:not(.hidden) {
  display: block;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
.transition-transform {
  transition: transform 0.5s ease-in-out;
}
.slide {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Smooth fade effect */
  position: absolute;
  inset: 0;
}

.active {
  opacity: 1;
  z-index: 10; /* Ensure active slide is on top */
}

.inactive {
  z-index: 0;
}
.swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
      content: '' !important;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
      content: '' !important;
  }

  .swiper-button-next svg,
  .swiper-button-prev svg {
      width: 24px !important;
      height: 24px !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
      position: relative !important;
  }

  .swiper-slide.swiper-slide-active {
      --tw-border-opacity: 1 !important;
      border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
  }

  .swiper-slide.swiper-slide-active>.swiper-slide-active\:text-indigo-600 {
      --tw-text-opacity: 1;
      color: rgb(79 70 229 / var(--tw-text-opacity));
  }

  .swiper-slide.swiper-slide-active>.flex .grid .swiper-slide-active\:text-indigo-600 {
      --tw-text-opacity: 1;
      color: rgb(79 70 229 / var(--tw-text-opacity));
  }
  .super-slider{
    width:300px !important;
  }
.super-slider-two  {
  margin-right:20px !important;
  padding: 0px !important;
  width: 42% !important;
}

.swiper-wrapper.disabled {
  translate3d:(-394.667px, 0px, 0px) !important;
}
.swiper-pagination.disabled {
  display: none;
}

.width-326{
  width: 352px!important;
}

.grp-slider-container {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }

    .grp-slider {
      display: flex;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out; 
    }

    .grp-slide {
      position: relative;
      min-width: 100%;
      /* height: 100%; */
      background-size: cover;
      background-position: center;
    }

    .grp-slide .headings {
      position: absolute;
      top: 38%;
      left: 28%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      text-align: left;
      margin: 0;
    }

    .grp-slider-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      
      color: white;
      font-size: 2rem;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
    }

    .grp-slider-arrow-left {
      left: 10px;
    }

    .grp-slider-arrow-right {
      right: 10px;
    }

    .grp-pagination {
      position: absolute;
      bottom: 375px;
      right: 77px;
      transform: translateX(-50%);
      /* display: flex
  ; */
      justify-content: center;
      z-index: 10;
  }

    .grp-pagination-dot {
      /* width: 10px;
      height: 10px;
      margin: 0 5px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      transition: background-color 0.3s;
      cursor: pointer; */
      color: rgba(255, 255, 255, 0.6);
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
    }

    .grp-pagination-dot.active {
      /* background-color: white; */
      color: rgba(255, 255, 255, 1);
    }
    .grp-pagination-dot:hover {
      /* background-color: white; */
      color: rgba(255, 255, 255, 1);
    }
